@charset 'utf-8';
/*모바일사이즈부터 시작!*/
#header{    
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-bottom: 1px solid #ffffff26;
}


#wrap{
    min-width: 320px;
    font-family: 'Pre';
}
section{
    margin-top: 10vw;
    margin-bottom: 50vw;
}

header{
    padding: 10px 20px;
    position: fixed;
    top: -60px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 60px;
    transition: top 0s, height 0.25s;
    background-color: #ffffff20;
    backdrop-filter: blur(15px);
    
}
header .h_wrap{
    transition: top 0s, height 0.25s;
    align-items: center;
}
header h1{
}
header h1 img{
    width: 140px;
}

header button{
    border: 0;
    background-color: unset;
}

.all_btn{
    position: absolute;
    top: 22px;
    right: 30px;
}

.all_btn i{
    width: 30px;
}
.all_btn img{
    width: 30px;
    height: auto;
}



aside{
    position: fixed;
    top:0;
    right: -100%;
    width: 80%;
    height: 100vh;
    z-index: 99;
    padding-top: 50px;
    overflow-y: scroll;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.9);

   }

aside .close{
    position: absolute;
    top: 22px;
    right: 20px;
}
aside .close img{
    width: 20px;
    height: auto;
}

nav{
    min-height: 54px;
    display: block;
    margin-top: 30px;
    margin-left: 20px;
}
nav li{
    display: block;
    text-align: left;
    color:#333;
    padding:30px;
    font-size: 4vw;
    position: relative;
    font-weight: 600;
    border-bottom: 1px solid rgba(209, 213, 219, 0.3);
   }

/*-----------------------------------------*/
/*-----------------banner------------------*/
.banner{
    width:100%;
    overflow: hidden;
    height: 100vh;
    position: relative;
    text-align: center;
    background-color: #000;
}
.banner video{
    width: fit-content;
    height: initial;
    height: 100vh;
    max-width: none;
    max-height: none;
    opacity: .9;
}

.bnWrap{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-size: cover;
    height: 100vh;
}



.bnWrap .message{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.bnWrap .message .text{
    line-height: 1.3;
    font-size: 3vw;
    font-weight: 500;
    color: #fff;
}

.bnWrap .message .text h1{
    margin-bottom: 1vw;
    font-weight: 800;
    /* background: linear-gradient(53deg, rgb(255, 164, 52) 0%, rgba(253,145,45,1) 100%);
    color: transparent;
    -webkit-background-clip: text;*/
}
.bnWrap .message .text p{
    font-size: 4vw;

}


/*-----------------banner------------------*/
/*-----------------------------------------*/


/*-----------------------------------------*/
/*-----------------section------------------*/
#s1{
    padding-bottom: 10vw;
}
#s1 .inner {
    width: 100%;
    height: 100vh;
    padding: 2vw;
    margin-bottom: 10vw;
    align-items: center;    
}
#s1 .con {
    margin-top: 10vw;


}
#s1 .row1 {
    border-radius: 30px;
    /*height: 52vh;*/
    width: 90%;
    background-image: url(../images/sun.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: 115%;
    background-position-y: 110%;
    background-color: #f6f6f6;
    line-height: 1.2;
    padding: 15vw 6vw 15vw 6vw;
    line-height: 1.3;
    margin-right: auto;    
    margin-left: auto;    
}
#s1 .row1 .text h2{
    font-size: 5vw;

}
#s1 .row1 button{
    font-family: 'Pre';
    border-radius: 36px;
    background-color: #ef0f0f;
    padding: 10px 20px;
    text-align: center;
    margin-top: 4vw;
    font-weight: 700;
    color: #fff;
}
#s1 .row1 button span::after{
    content: '';
    display: inline-block;
    width: 2vw;
    height: vw;
    background: url(../images/icon_arrow.svg) no-repeat center/cover;
    margin-left: 2vw;
}


#s1 .inner h2{
    margin-bottom: 3vw;
}
#s1 .row2 h2{
    margin-left: 2vw;
}
#s1 .row2{
    height: 50vw;
    padding: 5vw;
    margin-top: 10vw;
}
#s1 .row2 img{    
    height:20vw;
    border-radius: 23px;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

#s1 .row2 .text{
    margin-left: 10%;
    display: flex;
    justify-content: left;
    line-height: 1.5;
}
#s1 .row2 .text ul{
    margin-left: 2vw;
    margin-top: 5vw;
}
#s1 .row2 .text ul li{}
#s1 .row2 .text ul:first-child{
    list-style: disc;
    margin-right: 6vw;
}
#s1 .row2 .text ul:first-child li{}


#s1 .row2 .text ul:nth-child(2){
    font-weight: 700;
}
#s1 .row2 .text ul:nth-child(2) li{}


#s2 {
    width: 100%;
    height: 120vh;
    margin-top: 10vw;
    margin-bottom: 30vw;
}
#s2 .inner{
    padding: 4vw;
    position: relative;
}
#s2 .inner .title{
}
#s2 .inner .title h1{
    margin-bottom: 3vw;
    font-weight: 700;
    font-family: 'Montserrat';
    font-size: 6vw;
}
#s2 .inner .slide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100%;
   /* margin-left: auto;
    margin-right:auto;*/
}
#s2 .inner .slide .item{
    padding-top: 10vw;
    padding-bottom: 10vw;
    width: 100vh; 
    padding-left: 1vw;
    padding-right: 1vw;
}

#s2 .inner .slide .item .subtitle{
    margin-top: 3vw;
}

#s2 .inner .slide .item .subtitle p{
    margin-top: 2vw;
}
#s2 .inner .slide li img{
    width: 70vh;
    border-radius: 20px;
    
}
#s2 .inner .slide li:first-child {
    display: block;
}
#s2 .inner .slide li {
    display: none;
}
#s2 .slide .btn {
    position: absolute;
    top: 5px;
    right: 10px;
    display: flex;
    width: 30vh;
}
#s2 .slide .btn button{
    width: 30vh;

}
#s2 .slide .btn button{}

#s2 .row{
    width: 100%;
    text-align: center;
}
#s2 .row div{
    margin-left: auto;
    margin-right: auto;
    padding: 6vw;
    width: 90%;
    border-radius: 15px;
    font-weight: 500;
    font-size: 3.5vw;
    color: #fff;
}
#s2 .row .btn1{
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    background-size: 100%;
    background-image: url(../images/btn-1-bg.jpg);
    margin-bottom: 1vw;
}
#s2 .row .btn2{
    margin-bottom: 10vw;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    background-size: 100%;
    background-image: url(../images/btn-2-bg.jpg);

}



#s3{
    height: 100vh;
    background-image: url(../images/s3-bg.jpg);
    background-repeat: no-repeat;
    background-position-x: 55%;
    background-size: 320%;
    position: relative;
    margin-bottom: 10vw;
}
#s3 .textWrap{
    position: absolute;
    top: 20%;
    left: 10%;
    color: #fff;

}
#s3 .textWrap p{
    margin-bottom: 2vw;
    font-size: 5vw;
}
#s3 .textWrap h3{
    font-size: 5.5vw;
    font-weight: 500;

}

footer{
    width: 100%;
    height: 60vh;
    }
    footer .fWrap{
    padding: 4vw 4vw;
    }

    footer .footertop{
    padding-bottom: 2vw;
    
    }
    footer .fWrap .con1{
    width: 95%;
    line-height: 1.5;
    color: rgba(52, 52, 52, 0.907);
    font-family:'Montserrat','Pre' ;
    }
    footer .fWrap .con1 h1{
    margin-bottom: 3vw;
    }
    footer .fWrap .con1 h1 img{
    height: 6vw;
    }
    footer .fWrap .con1 p{
    font-size: 17px;
    margin-bottom: 12vw;
    }
    footer .fWrap .con1 {
    }
    footer .fWrap .con1 p span{
        font-weight: 700;
        
        
    }
    footer .fWrap .con1 p span:first-child{
        margin-left: 0px;
    }
    
    footer .fWrap .con2{
    border-top: 1px solid rgba(71, 71, 71, 0.602);
    padding-top: 1vw;
    }
    footer .fWrap .con2 ul{
    display: flex;
    justify-content: left;
    margin-top: 3vw;
    }

    footer .fWrap .con2 ul li{
        opacity: .7;
        margin-left: 8px;
        margin-right: 8px;
    }

    footer .fWrap .con2 ul li i{
    }

    footer .footerbottom{
    display: none;
    }
    footer .footerbottom ul{
    display: flex;
    justify-content: space-between;
    }
    footer .footerbottom ul li{
    
    }
    footer .footerbottom ul li img{
    height: 27px;
    }

/* --- 모바일 끝!  --- */


@media all and (min-width:768px){

    #s2 .inner .slide li {
            display: block;
    }
}/*---태블릿---*/


